{% extends 'core/base.html' %} 
{% block title %}Success{% endblock %} 

{% block content %}



    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-7">
                <h1 class="title">Your Purchase Was A Success</h1>
                <div class="card">
                    <div class="card-content">
                    <p class="title">
                        Thanks For Shopping!
                    </p>
                
                    </div>
                    <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span>
                        Share on <a href="#">Facebook</a>
                        </span>
                    </p>
                    </footer>
            </div>
        </div>
        </div>

{% endblock %}