{% extends 'core/base.html' %}

{% block title %}Logout{% endblock %} 

{% block content %}


<div class="container">
    <div class="columns is-8 is-centered m-6">
        
        <div class="column is-5-desktop">
            <div class="box has-background-white">
                <article class="media">
                    <div class="media-left">
                      
                    </div>
                    <div class="media-content has-text-grey-dark">
                        <div class="content">
                            <p>
                                <strong class="has-text-grey-dark">
                                    Thanks for Stopping by!
                                </strong>
                                <small>
                                    
                                </small>
                                <br/>
                                   Please visit us again and oh! heres a coupon for 20% off your next order. Valid one-time use only
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                                    😘
                                </p>
                            </div>
                            <div class="level-right">
                                <p class="level-item">
                                    <button class="button is-primary is-disabled ">
                                        "RangRang20"
                                    </button>
                                </p>
                            </div>
                            <div class="level-left">
                                <p class="level-item">
                                    <button class="button is-warning">
                                    <a href="/">
                                        <p>RangVida.com</p></a>
                                    </button>
                                </p>
                            </div>

                        </nav>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>



   
{% endblock %}
