{% extends 'core/base.html' %} {% block title %} Account!{% endblock %}

 {% block content %}
        <!-- my account section user info -->
        <div class="columns mt-4 ml-3">
        <div class="column is-4 mb-5">
            <div class="card is-6 m-auto">
            <div class="card-content">
                <div class="content mb-4">
                <h1 class="title mb-3">My Account</h1>
                <div>
                    <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>{{ request.user.get_full_name }}</span>
                    </span>
                </div>

                <div class="mt-4">
                    <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>{{ request.user.username }}</span>
                    </span>
                </div>

                <div class="mt-4">
                    <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>{{ request.user.email }}</span>
                    </span>
                </div>

                <a href="{% url 'edit_myaccount' %}">
                    <button class="button is-dark mt-4">
                    <!-- for the button to work it needs to be wrapped inside the anchor tag -->

                    Edit Basic Info
                    </button></a
            

             
                
            </div
        </div>
        </div>

    
         <div class="columns mt-4 ml-3">
        
        <div class="column is-8 mb-5">
            <div class="card is-6 m-auto">
            <div class="card-content">
                <div class="content mb-4">
                <h1 class="title mb-3">My Orders</h1>

                

                {% for order in request.user.orders.all %}
                    <div class="column is-12 m-auto is-multiline">
                        <div class="card is-6 m-auto">
                        <div><a href="#" class="m-2"> Order Id: {{ order.id }}</a></div>
                        <div class="card-content">
                            <!-- product 1 -->
                            {% for item in order.items.all %}
                            <div class="columns is-vertical">
                            <div class="column">
                                <div>
                                <a href="#" class="mb-2"> {{ item.product.name }}</a>
                                </div>
                                <p class="mb-2"> Price PKR{{ item.price }}</p>
                                <p class="mb-2">Quantity {{ item.quantity }}</p>
                            </div>
                          
                                <figure class="image is-96x96">
                                <img src="{{ item.product.get_thumbnail }}" />
                                </figure>
                            {% endfor %}
                
                        <div class="m">
                            <p class="is-medium">Date: {{ order.created_at }}</p>
                            <p class="is-medium">Total: {{ order.get_total_cost }}</p>
                        </div>
                        </div>
                


                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
           
            </div>
            </div>
       
        </div>
    </div>
    

 

{% endblock %}
